<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codemonkeys">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ConfigurationActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.UniverseGenerationActivity"
            android:parentActivityName=".view.ConfigurationActivity" />
        <activity
            android:name=".view.MarketActivity"
            android:parentActivityName=".view.MarketActivity" />
        <activity
            android:name=".view.BuyExtraActivity"
            android:parentActivityName=".view.MarketActivity" />
        <activity
            android:name=".view.TravelActivity"
            android:parentActivityName=".view.UniverseGenerationActivity" />
        <activity
            android:name=".view.RandomEventActivity"
            android:parentActivityName=".view.TravelActivity" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>


</manifest>

